<div class="row">
   <div class="col-md-12 text-center">
      <h3 class="events">Paste your long URL here : </h3>
   </div>
</div>


<%= render 'form' %>

<%= link_to 'Index', choppies_path, class: 'btn' %>



